body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        background-color: #81498a;
        font-family: monospace;
    }

    h1 {
        margin-bottom: 20px;
    }

    #gameContainer {
        position: relative;
        width: 1200px;
        height: 800px;
        border: 3px solid #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 28px;
        cursor: pointer;
    }

    #scoreboard {
        margin-top: 10px;
    }